// .question-form-container {
//     max-width: 800px;
//     margin: 10px auto;
// }

h1.question {
    margin-top: 50px;
    font-size: 2rem;
}

mat-card {
  width: calc(100% - 70px);
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.choice {
    cursor: pointer;

    &:hover {
      background-color: #ffed9f;
    }
  }

  mat-card-content {
    font-size: 1.5rem;
  }
}
