.welcome-container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;

    > mat-card {
        margin: 0px 10px;
    }
}

.quiz-card {
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
}