<div class="welcome-container">
    <mat-card>
        <mat-card-subtitle align="center">
            <h1 class="md-display-2">Aychan's Quiz!</h1>
        </mat-card-subtitle>
        <div class="flex-container" fxLayout="row" fxLayout.xs="column">
            <mat-card class="quiz-card">
                <!-- <a routerLink="/maths" class="img-link">
                <img mat-card-image src="assets/images/maths.png" alt="picture of math elements">
            </a> -->
                <mat-card-title>
                    Math
                </mat-card-title>
                <mat-card-content>
                    10 math's multiplication questions. Each question is limited 5 seconds to answer
                </mat-card-content>
                <mat-card-actions>
                    <button routerLink="/maths" color="warn" mat-raised-button>Start</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card>
</div>